.navbar {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo__img {
  width: 280px;
}

.links {
  display: flex;
  column-gap: 306px;

  &-block {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;

    &__link {
      &:hover {
        text-decoration: underline;
        transition: 0.8s;
      }
    }
  }
}

.auth {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  &__register {
    font-weight: 500;
    font-size: 1rem;
    color: #1b33b2;

    &:hover {
      text-decoration: underline;
      transition: 0.8s;
    }
  }

  &__login {
    font-weight: 600;
    font-size: 1rem;
    color: #1b33b2;
    border: 1px solid #1b33b2;
    border-radius: 6px;
    padding: 26px 48px;

    &:hover {
      background-color: #1B33B2;
      color: #ffffff;
      transition: 0.8s;
    }
  }
}

@media (max-width: 780px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }
}